/*novedades*/
#pag-novedades {
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: cover; }

#pag-novedades h3 {
  margin-bottom: 20px;
  font-size: 26px; }

#pag-novedades li {
  font-size: 18px;
  list-style: none;
  padding: 10px 0; }

.full-width {
  width: 100%; }

#pag-novedades #casillero {
  font-size: 14px;
  margin-bottom: 0px !important; }


.card--link {
  width: 35%;
  font-size: 12.5px;
	background: #263b69;
	color: #FFF;
	padding: 10px 10px; 
  text-decoration: none; 
  text-align: center;    
}

.novedades-container {
  position: relative;
  margin: 15px 0; }

.novedades-container:hover .overlay {
  display: block; }
