/* tipografias */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;900&display=swap');
font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli:700');

* {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h6 {
    font-weight: 500;
    font-size: 16px;
    
}

body {
    padding: 1%;
    background-color: #f6f6f6;
    z-index: -1;
}

/* PROPIEDADES NAV NORMAL */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f6f6f6;
    font-family: 'Rubik', sans-serif; 
    z-index: 3;
}

.logo {
    color: #263b69;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    z-index: 4;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 0;
}

.nav-links li {
    list-style: none;
    
    
}


.nav-links a {
    color: #263b69;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 14px;
    z-index: 999;
    
}

.burger {
    display: none;
    cursor: pointer;
    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #263b69;
    margin: 5px;   
    transition: all 0.3s ease;
}


    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }


#slider {
	overflow: hidden;
    z-index: -1;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
    z-index: -100;
}

#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/* ESTILOS RESPONSIVE */

@media screen and (max-width: 1200px) {
    .card:nth-child(n) {
        -ms-grid-column: span 6;
            grid-column-start: span 6;
    }
}

@media screen and (max-width: 800px) {
    .card:nth-child(n) {
        -ms-grid-column: span 12;
        grid-column-start: span 12;
    }
}

@media screen and (max-width:1024px){
.nav-links {
    width: 100%;
}


@media screen and (max-width:768px){
    
    body{
        overflow-x: hidden;   
    }
    
    .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
    
    .nav-links li {
        opacity: 0;
        
    }
    
    .burger{
        display: block;
        
    }


    .nav-active {
        transform: translateX(0%)
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px;)
            
        }
        
        to{
            opacity: 1;
            transform: translateX(0px);
        }
        




