/* General--#2e4053-----#d03b40-- :#d03b40--*/ 

*{
    box-sizing: border-box; /*corregir la anchura total = width-------------*/
}

body{
font-family: 'Open Sans', sans-serif;
margin-left: auto;
margin-right: auto;
    
}

h1, h2, h3{
    font-size: 16px;
}

div{
    display: block;
}


img{
    max-width: 100%;
    padding: 0px 0px 0px 0px;
}


.contenido{
    width: 100%;
}

.row{
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f5f0ed;
    }

.footer{
    width: 100%;
    background-color: #241d1b;
    min-height: 103px;
    padding: 20px 0px 0px 15px;
    
}
.footer h1{
    font-weight: 400;
    color: #FFF;
    line-height: 0.7;
}
.footer h2{
    font-weight: 400;
    color: #FFF;
    line-height: 0.7;
}

.ir-arriba{
    display: none;
    padding: 15px;
    background-color: rgba(2, 73, 89, 0.50);
    font-size: 20px;
    color: #fff;
    cursor:pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 6px;
}

/*portada-------------*/
.header{
    background: url(imagenes/Fondo1.jpg);
    min-height: 465px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center; 
    margin: 0px;
    border-radius: 0Px;
    overflow: hidden;
}
.logo{
    margin:20px 0px 0px 15px;
    width: 60%;
    
}

.texto{
    text-align:center;
    position: relative;
    margin-top: 15%;
}
.texto h1{
    font-size: 30px;
    color: #f5f0ed;
    font-weight: 800;
    line-height: 1;
}
.texto h3{
    font-size: 16px;
    color: #f5f0ed;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin:0px 20px 0px 20px;
}
.filete{
    width: 88px;
    border-bottom: 2px solid #f5f0ed;
    margin:25px auto;}
}

.menu{
    float: right;
    margin:0 0 0 0px;
}



/*contenido-------------*/
/*Bloque 1--------------*/

.principal h1,
.secundaria h1{
    font-size: 24px;
    line-height: 1;
}

.principal h1{
    color:#ded6c0;
}

.secundaria h1{
    color:#2e4053;
}

.principal h3{
    color:#ded6c0;
    font-weight: 400;
}

.principal h3 a{
    color:#ded6c0;
    font-weight: 800;
}

.secundaria h3{
    color:#2e4053;
    font-weight: 400;
}


.principal,
.secundaria{
        display: block;
        margin-top: 0px;
        width: 100%;
        padding: 54px 16px 54px 16px;
        text-align: center;
        border: 0px solid white;
        border-radius: 0px;
        min-height: 270px;
    }
.principal{
    background-color:   #2e4053 ;
    
}

.secundaria{
        background-color: #f6f6f6;
    
       
    }

/*PRODUCTOS--------------*/
/*HEADERDOS--------------*/


 .headerdos{
    background: url(imagenes/Fondo2.jpg);
    min-height: 405px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:-110px;
    margin: 0px;
    border-radius: 0Px;
    overflow: hidden;
}
    
.rectangule{
    max-width: 282px;
    min-height: 48px;
    border: 3px solid #f5f0ed;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    
    
    
}

.rectangule h4{
    margin:0px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #f5f0ed;
}

#centrar{
    line-height: 48px;
    
}

/*Bloque 1--------------*/


.terciario h1,
.cuaternario h1{
    font-size: 24px;
    color:#241d1b;
}

.terciario h3,
.cuaternario h3{
    color:#241d1b;
    font-weight: 400;
}

.terciario,
.cuaternario{
        display: block;
        width: 100%;
        text-align: center;
        min-height: 360px;
        background-color: #f5f0ed;
    }
.terciario{
        padding: 45px 15px 1px 15px;
    }
.cuaternario{
        padding: 1px 15px 45px 15px;
    }

.terciario img,
.cuaternario img{
    max-width: 30%;
    
}

/*PRODUCTOS--------------*/
/*HEADERDOS--------------*/


 .headerdos{
    background: url(imagenes/Fondo2.jpg);
    min-height: 405px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:-110px;
    margin: 0px;
    border-radius: 0Px;
    overflow: hidden;
}
    
.rectangule{
    max-width: 282px;
    min-height: 48px;
    border: 3px solid #f5f0ed;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    
    
    
}

.rectangule h4{
    margin:0px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #f5f0ed;
}

#centrar{
    line-height: 48px;
    
}




/*Menu--------------*/

ul{
    list-style: none;
    padding: 0Px 0px 0px 0px;
    margin: 0;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    
}

li{
    display: block;
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:5px;
    
}
.navegacion{
    margin-right: auto;
    margin-left: auto;
    
}
.navegacion a{
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;

}
.lanzador-menu{
    position:absolute;
    right: 20px;
    top: 25px;
}

    
a{
    text-decoration: none;
    font-size: 16px;
}
a:hover{
    text-decoration: none;
    color: none;
    border-bottom: 4px solid;
}
a:active{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
    
}
a:focus{
    text-decoration: none;
    
}

/*Media screen--------------*/

@media screen and (max-width: 600px){
    body{
        margin-top: 0px;
       
    }
    .js .navegacion{
        max-height:0px;
        overflow: hidden;
        transition: max-height .5s;
        position: absolute;
        top:75px;
        left: 15pX;
        right: 19px;
        background-color: rgba(1, 12, 12, 0.80);
        z-index: 1;
        line-height: 2;
        text-align: left;
        padding:0px 0px 0px 20px;
        letter-spacing: 2pt;
 
    
 }
    .js .navegacion a{
        
        color: #FFF;
        border-top: 1px solid rgba(255, 255, 255, .4);
        font-size: 14px;
    }
    
    
    
    .js .navegacion.menu-desplegado{
        max-height: 400px;
        transition: 0.2s background-color 0.2s;
    }
    .js .navegacion.menu-desplegado:hover{
    background-color:#2e4053;
}
    
    .footer h2{
    display: none;
}

    }

 


@media screen and (min-width: 601px){
    body{
        margin-top: 0px;
       
    }
    .navegacion{
        padding: 40px 0px 0px 20px;
        text-align: center;
        
    }
    .navegacion a{
    padding-left: 0px;

}
    .lanzador-menu{
        display: none;
    }
    .navegacion li{
        display: inline;
        
    }
    .navegacion ul{
        display: inline-block;
        
    }
    
    .texto h1{
        font-size: 34px;
    }
    .footer h2{
    display: none;
}
    

    
}

@media screen and (min-width: 800px){
    body{
    }
    
    .principal,
    .secundaria{
        float: left;
        padding: 60px 40px 60px 40px;
        width: 50%;
        min-height: 336px;
        overflow: hidden;

    }
    
    
    .principal h1,
    .secundaria h1{
    font-size: 28px;
    text-align: center;
}
    
    .terciario,
    .cuaternario{
        float: left;
        width: 50%;
        overflow: hidden;
        padding: 30px 30px 30px 30px;

    }

    
    .terciario h1{
    text-align: left;
    margin-top: 90px;
    padding-left: 170px;
    
        
}
    .cuaternario h1{
    text-align: left;
    padding-left: 170px;
    margin-top: -0Px
    
    
        
}
    .terciario h3{
    text-align: left;
    padding-left: 170px;
}
    
    .cuaternario h3{
    text-align: left;
    padding-left: 170px;
        
        
}
    .terciario img{
    float: left;
    margin-top: 90px;
   
    
    
}
    .cuaternario img{
    float: left;
    margin-bottom: 90px;
    
    
}
   
    .navegacion{
    float: right;
    position: relative;
    top:-25px;
    padding: 0px 20px 0px 0px;
    
    }
    .logo{
    margin:20px 0px 0px 30px;
    
}
    li{
    display: inline;

}
    .headerdos{
    background: url(imagenes/Fondo2.jpg);
    min-height: 549px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin: 0px;
    overflow: hidden;
}
    .texto h1{
        font-size: 39px;
    }
    .texto h3{
        padding: 0px 140px;
    }
    
.footer{
    width: 100%;
    min-height: 170px;
    padding: 60px 0px 0px 30px;
    
    
}
    .footer h1{
    display: inline;
}
    
    .footer h2{
    display: inline;
    margin: 0px 10px 0px 10px;
}
    
    
    


@media screen and (min-width: 1200px){
    body{
 
    }
    
    h1{
        font-size: 24px;
    }
    .texto{
        margin-top: 164px;
    }
    .texto h1{
        font-size: 44px;
    }
    
     .texto h3{
        font-size: 16px;
        padding: 0px 340px;
    }
    
    .header{
        min-height: 663px;
    }
    
    .principal,
    .secundaria{
        padding: 133px 105px 133px 105px;
        max-height: 402px;

    }
    
    .terciario,
    .cuaternario{
        padding: 30px 30px 30px 30px;

    }
    
    .terciario h1,
    .cuaternario h1{
        font-size: 28px;
        padding-left: 190px;
        }
    .terciario h3,
    .cuaternario h3{
        padding-left: 190px;
        }
    
    .terciario img,
    .cuaternario img{
    max-width: 100%;
    }
    .footer h1{
    font-size: 16px;
}

    .footer h2{
    font-size: 16px;
    
}
    
    
 
